#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.wrapper {
	width: 100%;
}

h1 {
	text-transform: uppercase;
	margin-bottom: 60px;
}

.todos {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
	height: calc(7 * 73.81px);
	overflow-y: scroll;
	margin-bottom: 50px;
}

.todos .todo-item {
	width: 100%;
	padding: 24px;
	border: 1px solid #535bf2;
	font-size: 24px;
	text-align: left;
}

.todo-footer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	row-gap: 25px;
}

.todo-input {
	display: flex;
	gap: 10px;
}
.todo-input input[type='text'] {
	flex-grow: 1;
}
